VITE_CMS_BASE_URL=https://erp.mashaec.net/api/cms/zarku-ecuador
VITE_CMS_TOKEN=tu-token-del-erp
VITE_ECOMMERCE_BASE_URL=https://erp.mashaec.net/api/ecommerce/zarku-ecuador
VITE_ERP_STORAGE_URL=https://erp.mashaec.net/storage
